.menu {
  width: 200px;
  position: absolute;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
  overflow-y: auto;
}

.menu_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 10px;
  width: 100%;
  background-color: white;
  border: none;
  display: block;
}

.menu_row:hover {
  background-color: #f0f0f0;
}

.divider {
  border-top: 1px solid #f0f0f0;
  margin: 5px;
}

.filter_title {
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 3px;
}

.filter_area {
  border-radius: 5px;
  max-height: 400px;
  padding: 10px;
  padding-top: 0;
  overflow-y: auto;
  border: 1px solid #f0f0f0;
  font-size: 10px;
  margin: 0 5px;
}
