.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  gap: 10px;
}

.button_area {
  margin-left: auto;
}

.grid_area {
  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: all 0.5s;
}
